.table{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%);
    margin-bottom: 40px;
    .table-body{
        max-height: 380px;
        overflow-y: auto;
        &::-webkit-scrollbar{
            display: none;
        }
        table{
            width: 100%;
            thead{
                position: sticky;
                top: 0;
            }
        }
        th{
            font-weight: 500;
            font-size: 18px;
            color: #fff;
            line-height: 1.4;
            background-color: var(--color-bg-1);
            padding-top: 18px;
            padding-bottom: 18px;
        }
        td{
            font-size: 15px;
            color: rgb(67, 67, 67);
            padding-top: 16px;
            padding-bottom: 16px;
            line-height: 1.4;
        }
        tr:nth-child(even) {
            background-color: var(--color-bg-2);
        }
    }
}
.col1{
    padding-left: 15px;
}
th, td{
    font-weight: unset;
    padding-right: 10px;
}

th{
    text-align: left;
}

table{
    border-collapse: collapse;
}
.action{
    width: 50px;
    display: flex;
    justify-content: space-between;
    i{
        cursor: pointer;
        &:hover{
            color: #ff3d00;
        }
    }
}