
.admin-header{
    padding: 20px;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
}

.over{
    display: flex;
    justify-content: center;
}
.selected1{
    display: flex;
    margin: 20px 0;
    font-size: 20px;
    background-color: var(--color-bg-2);
    p{
        padding: 20px 10px;
        cursor: pointer;
        &:hover{
            background-color: rgb(17, 109, 95);
            color: white;
        }
    }
}

.choose{
    background-color: var(--color-bg-1) !important;
    color: white;
}

.overview{
    padding: 20px 0;
    .container1{
        padding-bottom: 20px;
        h1{
            padding: 20px;
        }
        background-color: #ebebeb;
        .element{
            flex: 1;
            padding: 20px;
            margin: 10px;
            background-color: white;
            border-radius: 10px;
            h2{
                margin-bottom: 20px;
            }
            p{
                font-size: 2rem;
                font-weight: 600;
            }
            span{
                font-weight: 300;
                font-size: 1.5rem;
            }
            >div{
                display: flex;
                align-items: center;
            }
            i{
                margin-right: 8px;
                font-size: 2rem;
                color: #ff6363;
            }
            .fa-angle-up{
                color: rgb(33, 192, 33);
            }
        }
        >div{
            display: flex;
        }
    }
}