
.admin-header{
    padding: 20px;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
}

.over{
    display: flex;
    justify-content: center;
}
.selected1{
    display: flex;
    margin: 20px 0;
    font-size: 20px;
    background-color: var(--color-bg-2);
    p{
        padding: 20px 10px;
        cursor: pointer;
        &:hover{
            background-color: rgb(17, 109, 95);
            color: white;
        }
    }
}

.choose{
    background-color: var(--color-bg-1) !important;
    color: white;
}

.overview{
    padding: 20px 0;
    .container1{
        padding-bottom: 20px;
        h1{
            padding: 20px;
        }
        background-color: #ebebeb;
        .element{
            flex: 1;
            padding: 20px;
            margin: 10px;
            background-color: white;
            border-radius: 10px;
            h2{
                margin-bottom: 20px;
            }
            p{
                font-size: 2rem;
                font-weight: 600;
            }
            span{
                font-weight: 300;
                font-size: 1.5rem;
            }
            >div{
                display: flex;
                align-items: center;
            }
            i{
                margin-right: 8px;
                font-size: 2rem;
                color: #ff6363;
            }
            .fa-angle-up{
                color: rgb(33, 192, 33);
            }
        }
        >div{
            display: flex;
        }
    }
}
.order-detail{
    .wrapper{
        .top1{
            margin: 20px 0;
        }
        .content{
            margin-bottom: 40px;
        }
        .element{
            margin: 10px 0;
        }
        .order-top{
            display: flex;
            flex-wrap: wrap;
            h2{
                width: 50%;
                font-weight: 500;
            }
            .order-code{
                font-style: italic;
            }
            .status{
                text-align: center;
                display: inline-block;
                cursor: pointer;
                select{
                    font-weight: 500;
                    font-size: 20px;
                }
            }
        }
        .order-user{
            h3{
                font-weight: 500;
            }
            span{
                font-weight: 400;
                margin-left: 4px;
            }
        }
        .order-product{
            >div{
                background-color: #ebebeb;
            }
        }
        .item-footer{
            padding: 20px;   
            display: flex;
            justify-content: flex-end;
            .item-footer-content{
                font-size: 1.5rem;
                color: #125b50;
                font-weight: 500;
            }
            .cost{
                margin-left: 10px;
                font-size: 2rem;
            }
        }
    }
}