.products{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 140px;
    padding-right: 140px;
    
    @media only screen and (max-width: 1075px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media only screen and (max-width: 500px) {
        padding-left: 0px;
        padding-right: 0px;
    }
    .title{
        display: flex;
        align-items: center;
        h2{
            text-align: center;
            flex: 0.8;
        }
        b{
            flex: 1;
            background-color: rgba(10, 10, 10, 0.286);
            height: 2px;
        }
    }
    .wrapper{
        margin-top: 25px;
        display: flex;
        @media only screen and (max-width: 710px) {
            flex-wrap: wrap;
        }
    }
}