.products{
    padding-top: 25px;
    padding-bottom: 25px;
    .title{
        display: flex;
        align-items: center;
        h2{
            text-align: center;
            flex: 0.8;
        }
        b{
            flex: 1;
            background-color: rgba(10, 10, 10, 0.286);
            height: 2px;
        }
    }
    .wrapper{
        margin-top: 25px;
        display: flex;
        @media only screen and (max-width: 710px) {
            flex-wrap: wrap;
        }
    }
}