.profile {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #ebebeb;
    .wrapper {
        margin: 5px 150px;

        @media only screen and (max-width: 1075px) {
            margin: 5px 30px;
        }
        
        @media only screen and (max-width: 500px) {
            margin: 5px 10px;
            flex-direction: column;
        }

        background-color: #fff;

        border-radius: 10px;
        box-shadow: 3px 3px 15px -3px #666;
        display: flex;
        padding: 12px;

        .sideBar {
            flex: 3;
            display: flex;
            flex-direction: column;
            height: 500px;

            .sideBar-header {
                flex: 4;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .icon {
                    background-color: var(--color-bg-1);
                    width: 150px;
                    height: 150px;
                    border-radius: 999px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    p {
                        align-items: center;
                        font-size: 3.5rem;
                        color: #fff;
                        font-weight: 800;
                    }
                }

                p{
                    padding: 4%;
                    font-size: 2rem;
                    font-weight: bold;
                }

            }

            .sideBar-content {
                flex: 6;
                background-color: var(--color-bg-2);
                border-radius: 2%;
                div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 5% 10%;

                    PersonIcon, HistoryIcon, LockIcon{
                        flex: 2;
                    }

                    p{
                        padding-left: 3%;
                        flex: 8;
                        font-weight: 500;
                        cursor: pointer;
                    }
                    
                    &:hover{
                        background-color: #125B50;
                        color: #FAF5E4;
                    }
                }

            }

        }

        .content {
            flex: 9;

            .content-head{
                padding: 3% 3% 0 ;
                font-size: 1.5rem;
                font-weight: 600;
                border-bottom: 1px solid #ccc;

            }

            .content-wapper{
                display: flex;
                flex-direction: column;
                padding: 5%;
                border-bottom: 1px solid #ccc;
                overflow-y: scroll;
                max-height: 60vh;
                &::-webkit-scrollbar{
                    display: none;
                }

                .item-history{
                    display: flex;
                    flex-direction: column;
                    padding: 2%;
                    font-size: 1rem;
                    font-weight: 500;
                    background-color: rgb(247, 245, 245);
                    margin-bottom: 2%;
                
                    .top__{
                        display: flex;
                        .status{
                            margin-right: 15px;
                            font-size: 1.5rem;
                            color: white;
                        }
                    }

                    .item-head{
                        flex: 2;
                        border-bottom: 2px solid #fff;
                        font-size: 1rem;
                        letter-spacing: 1px;
                        font-style: italic;
                    }

                    .item-content{
                        flex: 7;
                        color:black;
                        border-bottom: 2px solid #fff;

                        .product-history{
                            display: flex;
                            padding: 3%;
                            border-bottom: 2px solid #fff;

                            .product-img{
                                flex: 1;
                                width: 10%;
                                height: 10%;
                            }
                            .product-description{
                                flex: 7;
                                padding: 0 5% 2% 2%;
                                div{
                                    display: flex;
                                }
                                .p1{
                                    font-size: 1rem !important;
                                    margin-bottom: 1%;
                                }
                                .p2{
                                    margin-right: 20px;
                                    color: rgba(0,0,0,.6);;
                                }
                            }
                            .product-cost{
                                flex: 2;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: #125B50;
                                font-size: 1.25rem;
                            }

                        }


                    }

                    .item-footer{
                        // float: right;
                        display: flex;
                        flex: 1;
                        padding: 12px 12px 0px;
                        align-items: center;
                        justify-content: flex-end;

                        .item-footer-content{
                            color: #125B50;
                            font-size: 1rem;
                            padding-right: 2%
                        };
                        .cost{
                            font-size: 1.5rem;
                        }
                    }
                    
                }
            }
        }

    }

}