.product{
    width: 25%;
    box-shadow: 5px 5px 10px #999;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    border-radius: 10px;
    @media only screen and (max-width: 800px) {
        min-width: 40%;
        margin: 25px auto;
    }
    @media only screen and (max-width: 500px) {
        min-width: 80%;
        margin: 25px auto;
    }
    cursor: pointer;
    .top{
        overflow: hidden;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .top2{
        position: relative;
        &:hover .icon{
            display: flex !important;
        }
        &:hover .top1{
            filter: brightness(0.6);
            transform: scale(1.15);
        }
    }
    .top1{
        padding-top: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 0.15s ease-in;
        
    }
    .discount{
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: var(--color-text-1);
        height: 45px;
        width: 45px;
        border-radius: 999px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-text-2);
    }
    .new{
        position: absolute;
        top: 10px;
        right: -7px;
        background-color: var(--color-text-1); 
        height: 20px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-text-2);

        &::after{
            content: "";
            position: absolute;
            bottom: 1px;
            right: 0;
            transform: translate(0%, 100%);
            // background-color: #999;
            border-top: 7px solid #c08500;
            border-right: 7px solid transparent;
        }
    }
    .topSell{
        height: 40px;
        width: 40px;
        background-color: #FF6363;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        right: 50%;
        transform: translateX(50%);
        color: var(--color-text-2);
        &::after{
            content: "";
            position: absolute;
            bottom: 1px;
            left: 0;
            // width: 100%;
            transform: translate(0%, 100%);
            border-top: 10px solid #FF6363;
            border-right: 20px solid transparent;
        }
        &::before{
            content: "";
            position: absolute;
            bottom: 1px;
            right: 0;
            // width: 100%;
            transform: translate(0%, 100%);
            border-top: 10px solid #FF6363;
            border-left: 20px solid transparent;
        }
    }
    .bottom{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 15px;
        text-align: center;
        .name{
            height: 46px;
            p{
                margin-top: 0.1rem;
                margin-bottom: 0.1rem;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }
    .icon{
        color: #ccc;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        font-size: 1.4rem;
        justify-content: space-around;
        display: none;
        z-index: 80;
        i{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 999px;
            width: 36px;
            height: 36px;
        }
        .fa-heart{
            &:hover{
                color: #FF6363;
                transform: scale(1.3);
                background-color: #fff;    
            }
        }
        .fa-cart-plus{
            &:hover{
                color: #a98274;
                transform: scale(1.3);
                background-color: #fff;
            }
        }
        .fa-magnifying-glass{
            &:hover{
                color: #75a7ff;
                background-color: #fff;
                transform: scale(1.3);
            }
        }
    }
}