.productPage{
    img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .productContainer{
        margin: 50px 140px 25px 140px;
        .productDetail{
            display: flex;
            width: 100%;
            max-width: 100%;
            .productImage{
                flex: 3;
                display: flex;
                flex-direction: column;
                .productBigImage{
                    margin: 10px;
                    max-width: 100%;
                    box-shadow: 5px 5px 10px #999;
                    cursor: pointer;
                }
                .productSmallImageList{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .productSmallImage{
                        border: 1px solid red;
                    }
                }
            }
            .productContent{
                flex: 4;
                margin: 10px 10px 10px 30px;
                .content{
                    padding: 20px;
                    .product--detail{
                        padding-top: 10px;
                    }

                }
                .product--name{
                    font-size: 30px;
                    font-weight: 600;
                }
                .product--price{
                    font-size: 25px;
                    font-weight: 800;
                }
              
    
            }
            .productOther{
                flex: 2;
                display: flex;
                flex-direction: column;
            }
            
        }
        .productDescription{
            padding: auto;
            border: 1px solid red;
            height: 50px;
            text-align: center;
        }
        .recommendProduct{
            padding: auto;
            border: 1px solid red;
            text-align: center;
            .recommendProductContainer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                min-width: 100%;
            }
        }
    }
    

   

    
}