.header__top{
    text-align: center;
    margin: 40px 0;
    font-size: 2.5rem;
}

.container{
    margin-bottom: 40px;
    background-color: #fff;
    display: flex;
    @media only screen and (max-width: 1250px) {
        flex-direction: column;
    }
    .productCart{
        flex: 2;
        .item{
            border-bottom: 2px solid #125B50;
            padding: 10px;
            display: flex;
            position: relative;
            .image{
                max-width: 150px;
                position: relative;
                img{
                    max-width: 100%;
                    height: auto;
                    object-fit: cover;
                }
                .discount{
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    background-color: var(--color-text-1);
                    height: 45px;
                    width: 45px;
                    border-radius: 999px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--color-text-2);
                }
            }
            .productCart{
                margin-left: 20px;
                max-width: 50%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                .name{
                    font-size: 28px;
                    font-weight: 500;
                }
                .color{
                    margin-bottom: 16px;
                    font-size: 1.3rem;
                }
            }
            .title1{
                position: absolute;
                right: 30px;
                top: 50%;
                font-size: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                transform: translateY(-50%);
                .quantity{
                    display: flex;
                    width: 50px;
                    justify-content: space-between;
                    align-items: center;
                    span{
                        text-align: center;
                        margin: 0 10px;
                    }
                    .button{
                        font-size: 3rem;
                        border-radius: 3px;
                        cursor: pointer;

                    }
                }
                .priceCart{
                    font-size: 1.2rem;
                }
            }
            .deleteBox{
                cursor: pointer;
                position: absolute;
                top: 10px;
                right: 10px;
                .deleteButton{
                    &:hover{
                        background-color: #1c9280;
                    }
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #125B50;
                    color: white;
                    font-weight: 900;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                }
            }
        }
    }
    .userInfo{
        flex: 1;
        margin-left: 30px;
        @media only screen and (max-width: 1250px) {
            margin: 40px auto 0;
            width: 60vw;
        }
        @media only screen and (max-width: 700px) {
            margin: 40px auto 0;
            width: 90vw;
        }
        .total__cart{
            border: 2px solid rgba(0, 0, 0, 0.285);
            border-radius: 12px;
            padding: 16px;
            h1{
                text-align: center;
                margin-bottom: 20px;
                font-size: 2rem;
            }
            div{
                font-size: 1.5rem;
                display: flex;
                justify-content: space-between;
                p{
                    margin: 8px 0;
                }
            }
            .total__cost{
                font-weight: 700;
            }
        }
        .user__cart{
            margin-top: 40px;
            border: 2px solid rgba(0, 0, 0, 0.285);
            border-radius: 12px;
            padding: 16px;
            h1{
                text-align: center;
                margin-bottom: 20px;
                font-size: 2rem;
            }
            .input{
                margin-top: 20px !important; 
                display: flex;
                flex-direction: column;
                margin-top: 8px;
                position: relative;
                label{
                    padding: 0 5px;
                    position: absolute;
                    font-weight: 600;
                    top: 0;
                    left: 30px;
                    transform: translateY(-50%);
                    background-color: #fff;
                }
            }
            button{
                width: 100%;
                border-radius: 20px;
                margin-top: 16px;
                border: 0;
                padding: 10px 20px;
                color: var(--color-text-2);
                background-color: var(--color-bg-3);
                height: 50px;
                text-transform: uppercase;
                cursor: pointer;
                &:hover{
                    background-color: #ff9691;
                }
            }
        }
    }
}